{% extends "layouts/base.html" %}

{% load static %}

{% block title %} List of Books {% endblock title %}

{% block content %}

<h1> list of books </h1>

<ol >
  {% for i in books %}
    <li  >
      <strong>ID:</strong> {{ i.id }} <br>
      <strong>Title:</strong> {{ i.title }} <br>
      <strong>Price:</strong> {{ i.price }} $ <br>
      <strong>Publisher:</strong> {{ i.publisher.name }} <br>
      <strong>Authors:</strong>
      {% for author in i.author.all %}
        {{ author.name }}{% if not forloop.last %}, {% endif %}
      {% empty %}
        No authors
      {% endfor %}
      <a href="{% url 'books.updatebook' i.id %}"style = 'color : green ; ' >  update Book  </a>
      <a href="{% url 'books.updatebookf' i.id %}" >  update Book form    </a>
      <a href="{% url 'deleteBook' i.id %}" style = 'color : red ; '>  delete Book    </a>


    </li>
    <br>
  {% endfor %}
</ol>

{% endblock content %}